@font-face {
  font-family: Inter-Black;
  src: url(./fonts/Inter-Black.otf);
}
@font-face {
  font-family: Inter-BlackItalic;
  src: url(./fonts/Inter-BlackItalic.otf);
}
@font-face {
  font-family: Inter-Bold;
  src: url(./fonts/Inter-Bold.otf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(./fonts/Inter-Regular.otf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(./fonts/Inter-Medium.otf);
}

html {
  font-family: "Inter-Regular", monospace;
  font-size: 16px;
  background-color: #fffdfb;
}

body {
  font-family: "Inter-Regular", monospace;
  font-size: 16px;
}

.title .subtitle a {
  font-family: "Inter-Bold", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title.is-2 {
  font-family: "Inter-Bold";
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: -1px;
  color: #fefdff;
}

.title.is-1 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 3.5em;
  letter-spacing: -1px;
  color: #fefdff;
}

.subtitle {
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: -1px;
  color: #eb4511;
}

.is-orange {
  color: #eb4511;
}

.is-titanium {
  color: #c1bfb5;
}

a {
  text-decoration: underline;
  color: #8eb1c7;
}

a:hover {
  color: #abcce0;
}

.is-short {
  width: 40%;
}

.box.link-box {
  box-shadow: none;
  border-radius: 8px;
  padding: 30px;
  cursor: pointer;
  min-height: 415px;
  transition: all 0.1s ease-in-out;
  background-color: #b02e0c;
  color: #fefdff;
}

.pattern-bg {
  background: radial-gradient(
      circle at 100% 150%,
      #822108 24%,
      #88240a 24%,
      #88240a 28%,
      #822108 28%,
      #822108 36%,
      #88240a 36%,
      #88240a 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #822108 24%,
      #88240a 24%,
      #88240a 28%,
      #822108 28%,
      #822108 36%,
      #88240a 36%,
      #88240a 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      #88240a 10%,
      #822108 10%,
      #822108 23%,
      #88240a 23%,
      #88240a 30%,
      #822108 30%,
      #822108 43%,
      #88240a 43%,
      #88240a 50%,
      #822108 50%,
      #822108 63%,
      #88240a 63%,
      #88240a 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      #88240a 5%,
      #822108 5%,
      #822108 15%,
      #88240a 15%,
      #88240a 20%,
      #822108 20%,
      #822108 29%,
      #88240a 29%,
      #88240a 34%,
      #822108 34%,
      #822108 44%,
      #88240a 44%,
      #88240a 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      #88240a 5%,
      #822108 5%,
      #822108 15%,
      #88240a 15%,
      #88240a 20%,
      #822108 20%,
      #822108 29%,
      #88240a 29%,
      #88240a 34%,
      #822108 34%,
      #822108 44%,
      #88240a 44%,
      #88240a 49%,
      transparent 49%,
      transparent
    );

  background-size: 100px 50px;
}

.box.link-box:hover {
  transform: scale(1.02);
  box-shadow: #00000040 0px 12px 18px;
  background: #bb3513;
}

.box.exp-box {
  box-shadow: none;
  border: solid 2px black;
  border-radius: 0px;
  padding: 30px;
}

@media only screen and (max-width: 830px) {
  /* For mobile phones: */
  .is-short {
    width: 100%;
  }

  .title.is-2 {
    font-size: 2.3em;
  }
}
